*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url("images/Dark_Blue_and_purple.jpg");
    background-size: cover;
    background-position: center;
    
}
.container-blur{
    width: 100%;
    height: 100vh;
    backdrop-filter:blur(30px);
    position: relative;
}

.multiplication-container{
    width: 35rem;
    height: 25rem;
    background: radial-gradient(208.55% 433.93% at 8.37% 14.8%, rgba(200, 90, 244, 0.4) 3.65%, rgba(49, 3, 84, 0) 100%);
    backdrop-filter: blur(60px);
    border-radius: 30px;
    box-shadow: 10px 5px 3px azure;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.score{
    position: relative;
    bottom: 20%;
    color: #fff;
    font-size: 25px;
}

.multiplication-phrase{
    margin-bottom: 5%;
    font-size: 28px;
    color: #fff;
}

form{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.result{
    margin-bottom: 8%;
    border-radius: 30px;
    padding: 10px 40px ;
    background: radial-gradient(208.55% 433.93% at 8.37% 14.8%, rgba(248, 245, 249, 0.4) 3.65%, rgba(169, 159, 177, 0) 100%);
    backdrop-filter: blur(60px);
    border: transparent;
    color : #fff;
    outline: none;
    text-align: center;
}

::placeholder{
    color: #fff;
}

.result:focus{
    border: 1px solid #fff;
}

.submit-btn{
    padding: 10px;
    border-radius: 10px;
    background-color:darkorchid;
    border: transparent;
    color: #fff;
    
}

.submit-btn:hover{
    box-shadow: 5px 5px 3px azure;
}